<div class="flex items-start justify-between w-full bg-white px-20 py-4">
    <h1 class="text-4xl font-extrabold">Excursion</h1>
    <div class="flex gap-4">
        <button
            class="flex items-center justify-center gap-2 bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600"
            [routerLink]="['new-client']"
        >
            Add Client
            <mat-icon class="text-white">add_circle_outline</mat-icon>
        </button>
        <button
            class="flex items-center justify-center gap-2 bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600"
            [routerLink]="['new-exhibit']"
        >
            Add Exhibit
            <mat-icon class="text-white">add_circle_outline</mat-icon>
        </button>
    </div>
</div>
<router-outlet></router-outlet>
